.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 250px;
}

.navigation-text {
  margin-top: 40px;
}

.navigation-text a {
  color: #3DA9FC;
  text-decoration: none;
}

.navigation-text a:hover {
  text-decoration: underline;
}
