/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------------- Logo ----------------------------------------------------
------------------------------------------------------------------------------------------------------------
*/

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3DA9FC;
  font-family: "Inter";
  font-size: 22px;
  font-weight: bold;
}

.logo img {
  margin-right: 10px;
  height: 40px;
}