body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  height: calc(100vh - 60px);
  width: 100%;
}

@media screen and (max-width: 768px) {
  #map {
    height: calc(100vh - 185px);
  }
}

.mapboxgl-ctrl-geocoder {
  width: 50vw;
}

@media screen and (max-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    width: 95vw;
    margin-top: 60px !important;
  }
}

.popup-card {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-image {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.popup-content {
  width: 140px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: "10px";
  justify-content: space-between;
  margin-top: 15px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  width: 70px;
  height: 10px;
  border-radius: 5px;
  color: white;
}

.arrow {
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 75px;
}

.arrow-image {
  width: 20px;
  height: 20px;
}
